<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.thebedells.gwgcalsync</string>
	<key>OnDemand</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Users/YOURNAME/.gwgcalsync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/java</string>
		<string>-jar</string>
		<string>/Users/YOURNAME/.gwgcalsync/gwgcalsync.jar</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/YOURNAME/Library/Logs/gwgcalsync.log</string>
	<key>StandardOutPath</key>
	<string>/Users/YOURNAME/Library/Logs/gwgcalsync.log</string>
	<key>UserName</key>
	<string>YOURNAME</string>
</dict>
</plist>
